<?php

use Arrilot\BitrixMigrations\BaseMigrations\WordpressMigration;
use Arrilot\BitrixMigrations\Exceptions\MigrationException;
use Bitrix\Highloadblock\HighloadBlockTable;

class __className__ extends WordpressMigration
{
    protected $table = '';

    /**
     * Run the migration.
     *
     * @return mixed
     * @throws MigrationException
     */
    public function up()
    {
        global $wpdb;

        $wpdb->query("DROP TABLE IF EXISTS $this->table");
    }
}
